services:
  test-client-e2e:
    build:
      context: ./frontend
      dockerfile: Dockerfile.e2e
    volumes:
      - ./frontend:/app
      - ./frontend/cypress/screenshots:/app/cypress/screenshots
    depends_on:
      test-webapp:
        condition: service_healthy
    environment:
      - CYPRESS_baseUrl=http://test-client-vite:5173 
    networks:
      - busapp-network

  test-webapp:
    build:
      context: ./backend
      dockerfile: Dockerfile.testport
    env_file:
      - ./backend/.env
    ports:
      - "5001:5001"
    volumes:
      - ./backend:/app
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/api/posts"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - busapp-network

  test-client-vite:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
    environment:
      - VITE_MINIO_URL=http://minio:9000
      - VITE_BASEURL=http://test-webapp:5001
    networks:
      - busapp-network
  test-redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - busapp-network

networks:
  busapp-network:
    driver: bridge
