services:
  test-unit:
    build:
      context: ./frontend 
      dockerfile: Dockerfile.unit 
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    environment:
      - VITE_MINIO_URL=http://minio:9000 
