version: "3"

services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile.prod 
    env_file:
      - ./backend/.env 
    ports:
      - "5001:5001"
    environment:
      ASPNETCORE_ENVIRONMENT: "Production"
      PROD_ELASTICSEARCH_URI: "http://prod-elasticsearch:9200"
    depends_on:
      - prod-kibana
  frontend:
    build:
      context: .
      dockerfile: ./frontend/Dockerfile.prod

    ports:
      - "3000:3000"
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf # Mount your local default.conf
      - ./nginx/static-files:/usr/share/nginx/html # Optionally, if you have static files to serve
    depends_on:
      - backend

  minio:
    image: minio/minio:latest 
    container_name: prod-minio
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    ports:
      - "9000:9000" # MinIO API port
      - "9001:9001" # MinIO web console port
    volumes:
      - minio-data:/data 
    command: server /data --console-address ":9001"
  redis:
    image: redis
    expose:
      - "6379"
  prod-elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    container_name: prod-elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false # No credentials needed, Elasticsearch port cant be accessed from outside internet
      - ES_JAVA_OPTS=-Xms1g -Xmx1g # Limit RAM to 1gb for now
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data 
    mem_limit: 2g
    healthcheck:
      test: curl -s http://localhost:9200/_cluster/health | grep -E '"status":"(green|yellow)"'
      interval: 20s
      timeout: 5s
      retries: 5

  prod-kibana:
    image: docker.elastic.co/kibana/kibana:7.10.2
    container_name: prod-kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://prod-elasticsearch:9200 
      - NODE_OPTIONS=--max-old-space-size=512
    ports:
      - 5601:5601 
    mem_limit: 1g # Limit RAM to 1gb
    depends_on:
      prod-elasticsearch:
        condition: service_healthy

  prod-prometheus:
    image: prom/prometheus:v3.1.0
    ports:
      - 5431:9090
    volumes:
      - ./prometheus/prometheus.prod.yml:/etc/prometheus/prometheus.yml
      - prometheus:/prometheus

  prod-grafana:
    image: grafana/grafana:11.4.0
    expose:
      - "3000"
    ports:
      - 3003:3000
    volumes:
      - grafana:/var/lib/grafana

  prod-cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    ports:
      - "8090:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

volumes:
  minio-data:
  elasticsearch_data:
  prometheus:
  grafana:

