services:
  test-webapp-run-tests:
    build:
      context: ./backend 
      dockerfile: Dockerfile.runtests 
    env_file:
      - ./backend/.env 
    ports:
      - "6000:5001"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    volumes:
      - ./backend:/app 

