services:
  test-webapp-run-tests:
    build:
      context: ./backend 
      dockerfile: Dockerfile.runtests 
    env_file:
      - ./backend/.env 
    ports:
      - "6000:5001"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    volumes:
      - ./backend:/app 

  test-webapp:
    build:
      context: ./backend 
      dockerfile: Dockerfile.testport 
    env_file:
      - ./backend/.env 
    ports:
      - "5002:5001"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
    volumes:
      - ./backend:/app 
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5002/api/posts"] # Wait for backend to start, retry if not ready
      interval: 10s
      timeout: 5s
      retries: 5
  test-client-vite:
    build:
      context: ./frontend 
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    environment:
      - VITE_MINIO_URL=http://minio:9000 
    depends_on:
      test-webapp:
        condition: service_healthy

  # Frontend Unit tests 
  test-client-unit:
    build:
      context: ./frontend 
      dockerfile: Dockerfile.unit 
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    environment:
      - VITE_MINIO_URL=http://minio:9000 

  # Frontend e2e tests - requires backend to work properly
  test-client-e2e:
    build:
      context: ./frontend
      dockerfile: Dockerfile.e2e 
    ports:
      - "3001:3001"
    volumes:
      - ./frontend:/app 
      - /app/node_modules 
    environment:
      - VITE_MINIO_URL=http://minio:9000 
    depends_on:
      test-webapp:
        condition: service_healthy
  test-minio:
    image: minio/minio:latest 
    container_name: test-minio
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: your-secret-password
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio-data:/data 
    command: server /data 

volumes:
  minio-data:

